html, body {
    height: 100%;
}

body {
    /*max-width: 640px;*/
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 100%;
    background: #86c1d4;
    box-sizing: border-box;
}

.turntable-prize {
    box-sizing: border-box;
}

.turntable-prize p {
    color: #262623;
    font-size: 30px;
    display: block;
}

/*
.turntable-prize p:nth-child(1){
   float: left;
}
.turntable-prize p:nth-child(2){
    float: right;
}*/
.turntable-prize p span {
    color: #ffc412;
}

.turntable-prize .rotate-prize {
    height: 257.24649999999997px;
    width: 257.24649999999997px;
    margin: 0 auto;
    position: relative;
    background-size: 257.24649999999997px 257.24649999999997px;
}

.turntable-prize .pointer {
    width: 90.5795px;
    height: 61.594px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -49.29px;
    margin-top: -17.797px;
    z-index: 1;
}

.turntable-prize .pointer img {
    width: 90.5795px;
    height: 61.594px;
}

.turntable-prize .rotate {
    width: 233.6955px;
    height: 233.6955px;
    position: absolute;
    left: 12.5px;
    top: 12.5px;
}

.turntable-prize .rotate img {
    width: 233.6955px;
    /*height: 233.6955px;*/
}

.turntable-prize .click-prize {
    width: 141.30450000000002px;
    height: 43.4785px;
    /*display: inline-block;*/
    text-align: center;
    margin: 23.5505px auto;
}

.turntable-prize .submit img {
    width: 141.30450000000002px;
    height: 43.4785px;
}

#mark {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}

.red-img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%) translateY(-50%);

}

.rule-prize ul {
    height: 48.913000000000004px;
    overflow: hidden;
    padding-left: 54.348px;
    background-size: 48.913000000000004px;
    /*display: inline-block;*/
}

.rule-prize li {
    height: 12.681000000000001px;
    color: #262623;
    font-size: 12.681000000000001px;
    /*display: inline-block;*/
}

.rule-prize li:nth-child(2) {
    margin: 2.7175000000000002px 0;
}

.rule-prize p {
    color: #fff;
    text-align: center;
    font-size: 10.8695px;
    margin-top: 9.058px;
}

/*prize over*/
/*login begin*/
.logo-login {
    width: 100%;
    /*height:304.348px;*/
    margin: 0 auto;
    text-align: center;
}

.logo-login .logo1 {
    width: 88.768px;
    height: 32.6085px;
    margin: 12.681000000000001px auto;
}

.logo-login .tittle-login {
    width: 268.11600000000004px;
    height: 148.5505px;
    margin: 48.913000000000004px auto;
    display: block;
}

#form {
    width: 100%;
}

::-webkit-input-placeholder {
    color: #e9e9e9;
}

::-moz-placeholder {
    color: #e9e9e9;
}

:-moz-placeholder {
    color: #e9e9e9;
}

.img-letter {
    width: 70% !important;
    display: block;
    float: left;
    margin-top: 9.058px;
    position: absolute;
    top: 4.529px;
}

.picCodeImg {
    width: 30% !important;
    display: block;
    float: left;
}

/*.form-login .img-code>input{
    width: 192.935px;
}*/
.identify-code {
    position: absolute;
    top: 4.529px;
}

.form-login .img-code img {
    width: 140.9785px;
    height: 45.29px;
    line-height: 44.99px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
}

#VerifyImage {
    width: 140.9785px;
    height: 45.29px;
    line-height: 44.99px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
}

.form-login .identify > input {
    width: 192.935px;
}

.form-login .identify .send-btn {
    color: #87c0d5;
    font-size: 23.3045px;
    outline: none;
    border: 0;
    width: 140.9785px;
    height: 45.29px;
    padding: 0 3.6229999999999998px;
    display: inline-block;
    position: absolute;
    background: rgb(226, 226, 226);
    top: 0;
    right: 0;
    z-index: 6;
    box-sizing: border-box;
}

.form-login .btn {
    height: 45.29px;
    line-height: 45.29px;
    padding-top: 0;
    font-size: 19.0215px;
    font-weight: bold;
    color: #fff;
    margin-top: 23.5505px;
    background: rgb(254, 197, 17);
    box-sizing: border-box;
}

.footer {
    margin-top: 59.637499999999996px;
    height: 45.29px;
    line-height: 45.29px;
    text-align: center;
}

.footer p {
    height: 45.29px;
    line-height: 45.29px;
    color: #fff;
    text-align: center;
    font-size: 10.8695px;
    margin-top: 9.058px;
}

/*login over*/
/*personal begin*/
header {
    height: 59.782500000000006px;
    line-height: 59.782500000000006px;
    color: #fff;
    font-size: 19.927500000000002px;
    background: #000;
    text-align: center;
}

.content-personal {
    width: 100%;
    height: 100%;
    background: #e4eff4;
    text-align: center;
    box-sizing: border-box;
}

.logo-personal img {
    width: 88.768px;
    height: 32.6085px;
    margin: 10.8695px auto;
}

.infor-personal {
    width: 338.76800000000003px;
    height: 94.203px;
    margin: 12.681000000000001px auto;
    position: relative;
}

.infor-personal .avater {
    width: 94.203px;
    height: 94.203px;
    background: #fec511;
}

.infor-personal .avater img {
    width: 94.203px;
    height: 94.203px;
}

.infor-personal .points {
    width: 239.1305px;
    height: 94.203px;
    position: absolute;
    top: 0;
    left: 102.35499999999999px;
    overflow: hidden;
}

.infor-personal .points p {
    width: 239.1305px;
    height: 28.9855px;
    line-height: 28.9855px;
    background: #fff;
    margin-bottom: 5.4350000000000005px;
}

.infor-personal .points p span {
    font-size: 12.681000000000001px;
}

.infor-personal .points p span:first-child {
    color: #538fa4;
    float: left;
    margin-left: 12.681000000000001px;
}

.infor-personal .points p span:last-child {
    float: right;
    margin-right: 12.681000000000001px;
}

.infor-personal .points p:last-child {
    margin-bottom: 0;
}

.rules-personal {
    height: auto;
    margin: 16.3045px 0;
    background: #fff;
}

.rules-personal p {
    font-size: 14.493px;
    padding: 32.6085px 21.739px;
    text-align: left;

}

/*personal over*/